
.jetmenu {
    background: #222 none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.jetmenu li {
    display: inline-block;
    float: left;
}
.jetmenu a {
    outline: medium none;
    z-index: 10;
}
.jetmenu > li > a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.jetmenu > li:hover > a, .jetmenu > li.active > a {
    color: #37ca95;
}
.jetmenu-wrapper.scrollable {
    overflow: auto;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown {
    background: #222 none repeat scroll 0 0;
    display: none;
    list-style: outside none none;
    margin: 0;
    min-width: 134px;
    padding: 0;
    position: absolute;
    z-index: 99;
}
.jetmenu ul.dropdown {
    top: 44px;
}
.jetmenu ul.dropdown li ul.dropdown {
    left: 100%;
    top: inherit;
}
.jetmenu ul.dropdown li {
    clear: both;
    width: 100%;
}
.jetmenu ul.dropdown li a {
    box-sizing: border-box;
    clear: both;
    color: #999;
    display: inline-block;
    float: left;
    padding: 12px 24px;
    text-decoration: none;
    width: 100%;
}
.jetmenu ul.dropdown li:hover > a {
    background: #37ca95 none repeat scroll 0 0;
    color: #fff;
}
.jetmenu ul.dropdown li ul.dropdown.left {
    left: auto;
    right: 100%;
}
.jetmenu .indicator {
    float: right;
    left: 5px;
    position: relative;
    top: 0;
}
.jetmenu ul li .indicator {
    left: 10px;
    top: 1px;
}
.jetmenu > li > .megamenu {
    background: #222 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #999;
    display: none;
    padding: 20px 30px;
    position: absolute;
    top: 44px;
    width: 25%;
    z-index: 99;
}
.jetmenu li > .megamenu ul {
    display: block;
    float: left;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    width: 100%;
}
.jetmenu li > .megamenu ul li {
    padding: 4px 0;
    width: 100%;
}
.jetmenu li > .megamenu ul li.title {
    border-bottom: 1px solid #666;
    font-size: 14px;
    margin: 0 0 8px;
    padding: 0 0 5px;
}
.jetmenu li > .megamenu h4 {
    color: #fff;
    margin-bottom: 0.5em;
}
.jetmenu li > .megamenu h5 {
    color: #fff;
    margin-bottom: 1em;
}
.jetmenu li > .megamenu a {
    color: #fff;
    text-decoration: none;
}
.jetmenu li > .megamenu a:hover {
    color: #dedede;
}
.jetmenu li > .megamenu ul li {
    margin: 0;
    padding: 0;
}
.jetmenu li > .megamenu ul li a {
    border-bottom: 1px solid #333;
    color: #888;
    display: block;
    padding: 7px 0;
    text-decoration: none;
}
.jetmenu li > .megamenu ul li a:hover {
    color: #fff;
}
.jetmenu > li.fix-sub > .megamenu, .jetmenu > li.fix-sub > .megamenu.half-width, .jetmenu > li.fix-sub > .dropdown {
    right: 0;
}
.jetmenu > li > .megamenu.half-width {
    width: 50%;
}
.jetmenu > li > .megamenu.full-width {
    left: 0;
    width: 100%;
}
.jetmenu li > .megamenu form {
    width: 100%;
}
.jetmenu li > .megamenu form input[type="text"], .jetmenu li > .megamenu form textarea {
    background: #444 none repeat scroll 0 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #999;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 5px;
    transition: border 0.3s linear 0s;
}
.jetmenu li > .megamenu form input[type="text"]:focus, .jetmenu li > .megamenu form textarea:focus {
    border-color: #e0e0e0;
}
.jetmenu li > .megamenu form input[type="text"] {
    margin-top: 10px;
    width: 100%;
}
.jetmenu li > .megamenu form textarea {
    margin-top: 10px;
    width: 100%;
}
.jetmenu li > .megamenu form input[type="submit"] {
    background: #444 none repeat scroll 0 0;
    border: medium none;
    color: #777;
    cursor: pointer;
    float: right;
    font-family: "Open Sans",sans-serif;
    height: 30px;
    margin-top: 10px;
    transition: background 0.3s linear 0s;
    width: 25%;
}
.jetmenu li > .megamenu form input[type="submit"]:hover {
    background: #e0e0e0 none repeat scroll 0 0;
    color: #555;
}
.megamenu .row {
    margin-top: 15px;
}
.megamenu .row:first-child {
    margin-top: 0;
}
.megamenu .row::before, .megamenu .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.megamenu .row::after {
    clear: both;
}
.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6 {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 20px;
    width: 100%;
}
.megamenu .row [class*="col"]:first-child {
    margin-left: 0;
}
.megamenu .row .col1 {
    width: 14.8936%;
}
.megamenu .row .col2 {
    width: 31.9149%;
}
.megamenu .row .col3 {
    width: 48.9362%;
}
.megamenu .row .col4 {
    width: 65.9574%;
}
.megamenu .row .col5 {
    width: 82.9787%;
}
.megamenu .row .col6 {
    width: 100%;
}
.jetmenu > li.right {
    float: right;
}
.jetmenu > li.right > .megamenu, .jetmenu > li.right > .megamenu.half-width, .jetmenu > li.right > .dropdown {
    right: 0;
}
.jetmenu > li.jsright {
    float: right;
}
.jetmenu > li.jsright.last > .megamenu, .jetmenu > li.jsright.last > .megamenu.half-width, .jetmenu > li.jsright.last > .dropdown {
    right: 0;
}
.jetmenu > li > a > i {
    float: left;
    font-size: 18px;
    line-height: 23px !important;
    margin-right: 6px;
}
.jetmenu > li.showhide {
    background: #222 none repeat scroll 0 0;
    color: #999;
    cursor: pointer;
    display: none;
    height: 50px;
    width: 100%;
}
.jetmenu > li.showhide span.title {
    float: left;
    margin: 12px 0 0 15px;
}
.jetmenu > li.showhide span.icon {
    float: right;
    margin: 15px 20px;
}
.jetmenu > li.showhide .icon em {
    background: #999 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-bottom: 3px;
    width: 20px;
}
.black > li:hover > a, .black > li.active > a {
    background: #111111 none repeat scroll 0 0;
    color: #fff;
}
.black ul.dropdown li:hover > a {
    background: #111111 none repeat scroll 0 0;
    color: #fff;
}
.black li > .megamenu form input[type="text"]:focus, .black li > .megamenu form textarea:focus {
    border-color: #111111;
}
.black li > .megamenu form input[type="submit"]:hover {
    background: #111111 none repeat scroll 0 0;
    color: #fff;
}
.black li > .megamenu a:hover {
    color: #dedede;
}
.grey > li:hover > a, .grey > li.active > a {
    background: #82837e none repeat scroll 0 0;
    color: #fff;
}
.grey ul.dropdown li:hover > a {
    background: #82837e none repeat scroll 0 0;
    color: #fff;
}
.grey li > .megamenu form input[type="text"]:focus, .grey li > .megamenu form textarea:focus {
    border-color: #82837e;
}
.grey li > .megamenu form input[type="submit"]:hover {
    background: #82837e none repeat scroll 0 0;
    color: #fff;
}
.grey li > .megamenu a:hover {
    color: #dedede;
}
.blue > li:hover > a, .blue > li.active > a {
    background: #02b8fa none repeat scroll 0 0;
    color: #fff;
}
.blue ul.dropdown li:hover > a {
    background: #02b8fa none repeat scroll 0 0;
    color: #fff;
}
.blue li > .megamenu form input[type="text"]:focus, .blue li > .megamenu form textarea:focus {
    border-color: #02b8fa;
}
.blue li > .megamenu form input[type="submit"]:hover {
    background: #02b8fa none repeat scroll 0 0;
    color: #fff;
}
.blue li > .megamenu a:hover {
    color: #02b8fa;
}
.deeper > li:hover > a, .deeper > li.active > a {
    background: #008c9e none repeat scroll 0 0;
    color: #fff;
}
.deeper ul.dropdown li:hover > a {
    background: #008c9e none repeat scroll 0 0;
    color: #fff;
}
.deeper li > .megamenu form input[type="text"]:focus, .deeper li > .megamenu form textarea:focus {
    border-color: #008c9e;
}
.deeper li > .megamenu form input[type="submit"]:hover {
    background: #008c9e none repeat scroll 0 0;
    color: #fff;
}
.deeper li > .megamenu a:hover {
    color: #008c9e;
}
.green > li:hover > a, .green > li.active > a {
    background: #88c425 none repeat scroll 0 0;
    color: #fff;
}
.green ul.dropdown li:hover > a {
    background: #88c425 none repeat scroll 0 0;
    color: #fff;
}
.green li > .megamenu form input[type="text"]:focus, .green li > .megamenu form textarea:focus {
    border-color: #88c425;
}
.green li > .megamenu form input[type="submit"]:hover {
    background: #88c425 none repeat scroll 0 0;
    color: #fff;
}
.green li > .megamenu a:hover {
    color: #88c425;
}
.emerald > li:hover > a, .emerald > li.active > a {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
}
.emerald ul.dropdown li:hover > a {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
}
.emerald li > .megamenu form input[type="text"]:focus, .emerald li > .megamenu form textarea:focus {
    border-color: #2ecc71;
}
.emerald li > .megamenu form input[type="submit"]:hover {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
}
.emerald li > .megamenu a:hover {
    color: #2ecc71;
}
.red > li:hover > a, .red > li.active > a {
    background: #c21a01 none repeat scroll 0 0;
    color: #fff;
}
.red ul.dropdown li:hover > a {
    background: #c21a01 none repeat scroll 0 0;
    color: #fff;
}
.red li > .megamenu form input[type="text"]:focus, .red li > .megamenu form textarea:focus {
    border-color: #c21a01;
}
.red li > .megamenu form input[type="submit"]:hover {
    background: #c21a01 none repeat scroll 0 0;
    color: #fff;
}
.red li > .megamenu a:hover {
    color: #c21a01;
}
.pox > li:hover > a, .pox > li.active > a {
    background: #fa023c none repeat scroll 0 0;
    color: #fff;
}
.pox ul.dropdown li:hover > a {
    background: #fa023c none repeat scroll 0 0;
    color: #fff;
}
.pox li > .megamenu form input[type="text"]:focus, .pox li > .megamenu form textarea:focus {
    border-color: #fa023c;
}
.pox li > .megamenu form input[type="submit"]:hover {
    background: #fa023c none repeat scroll 0 0;
    color: #fff;
}
.pox li > .megamenu a:hover {
    color: #fa023c;
}
.orange > li:hover > a, .orange > li.active > a {
    background: #ff670f none repeat scroll 0 0;
    color: #fff;
}
.orange ul.dropdown li:hover > a {
    background: #ff670f none repeat scroll 0 0;
    color: #fff;
}
.orange li > .megamenu form input[type="text"]:focus, .orange li > .megamenu form textarea:focus {
    border-color: #ff670f;
}
.orange li > .megamenu form input[type="submit"]:hover {
    background: #ff670f none repeat scroll 0 0;
    color: #fff;
}
.orange li > .megamenu a:hover {
    color: #ff670f;
}
.sunburst > li:hover > a, .sunburst > li.active > a {
    background: #d46d22 none repeat scroll 0 0;
    color: #fff;
}
.sunburst ul.dropdown li:hover > a {
    background: #d46d22 none repeat scroll 0 0;
    color: #fff;
}
.sunburst li > .megamenu form input[type="text"]:focus, .sunburst li > .megamenu form textarea:focus {
    border-color: #d46d22;
}
.sunburst li > .megamenu form input[type="submit"]:hover {
    background: #d46d22 none repeat scroll 0 0;
    color: #fff;
}
.sunburst li > .megamenu a:hover {
    color: #d46d22;
}
.yellow > li:hover > a, .yellow > li.active > a {
    background: #febf01 none repeat scroll 0 0;
    color: #222;
}
.yellow ul.dropdown li:hover > a {
    background: #febf01 none repeat scroll 0 0;
    color: #222;
}
.yellow li > .megamenu form input[type="text"]:focus, .yellow li > .megamenu form textarea:focus {
    border-color: #febf01;
}
.yellow li > .megamenu form input[type="submit"]:hover {
    background: #febf01 none repeat scroll 0 0;
    color: #222;
}
.yellow li > .megamenu a:hover {
    color: #febf01;
}
.purple > li:hover > a, .purple > li.active > a {
    background: #a849a3 none repeat scroll 0 0;
    color: #fff;
}
.purple ul.dropdown li:hover > a {
    background: #a849a3 none repeat scroll 0 0;
    color: #fff;
}
.purple li > .megamenu form input[type="text"]:focus, .purple li > .megamenu form textarea:focus {
    border-color: #a849a3;
}
.purple li > .megamenu form input[type="submit"]:hover {
    background: #a849a3 none repeat scroll 0 0;
    color: #fff;
}
.purple li > .megamenu a:hover {
    color: #a849a3;
}
.pink > li:hover > a, .pink > li.active > a {
    background: #f56991 none repeat scroll 0 0;
    color: #fff;
}
.pink ul.dropdown li:hover > a {
    background: #f56991 none repeat scroll 0 0;
    color: #fff;
}
.pink li > .megamenu form input[type="text"]:focus, .pink li > .megamenu form textarea:focus {
    border-color: #f56991;
}
.pink li > .megamenu form input[type="submit"]:hover {
    background: #f56991 none repeat scroll 0 0;
    color: #fff;
}
.pink li > .megamenu a:hover {
    color: #f56991;
}
@media (max-width: 768px) {
.jetmenu > li {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.jetmenu > li > a {
    padding: 15px 25px 15px 15px;
}
.jetmenu li > .megamenu ul, .jetmenu li > .megamenu ul li {
    float: none;
}
.jetmenu li > .megamenu ul li a i {
    display: inline !important;
    width: auto !important;
}
.jetmenu a {
    background: #222 none repeat scroll 0 0;
    box-sizing: border-box;
    width: 100%;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown {
    border: medium none;
    box-sizing: border-box;
    left: 0;
    position: static !important;
    width: 100% !important;
}
.jetmenu ul.dropdown li {
    background: #fff none repeat scroll 0 0 !important;
    border: medium none;
}
.jetmenu ul.dropdown > li > a {
    padding-left: 40px !important;
}
.jetmenu > li > .megamenu {
    border-top: medium none;
    position: static;
    width: 100% !important;
}
.jetmenu > li > .megamenu .row [class*="col"] {
    box-sizing: border-box;
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 15px;
    width: 100% !important;
}
.jetmenu > li > .megamenu .row:first-child [class*="col"]:first-child {
    margin-top: 0;
}
.jetmenu > li > .megamenu .row {
    margin-top: 0;
}
.jetmenu > li > ul.dropdown > li > a {
    padding-left: 40px !important;
}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 60px !important;
}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 80px !important;
}
}
@media (min-width: 768px) and (max-width: 900px) {
.jetmenu > li > .megamenu {
    left: 0 !important;
    width: 100% !important;
}
}
