// Material Theme 0.0.1
// -----------------------------------------------------
@import "../bower_components/bootstrap-material-design/sass/_variables.scss";
@import "_variables-custom.scss";

$primary: $teal-300;

// Custom shades
$custom: $red-300;
$custom-text: $white;

.headline h2, .headline h3, .headline h4 {
  border-bottom: 2px solid $primary;
}

.tag-box{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fafafa none repeat scroll 0 0;
  border-color: #eee #eee #eee $primary;
  border-image: none;
  border-style: solid;
  border-width: 0 0 0 2px;

  margin-bottom: 30px;
  padding: 20px;
}

a, a:hover, a:focus {
  color: $custom;
}

.thumbnail h3 a:hover, .service .service-icon{
  color: $custom;
}

a.thumbnail:hover{
  border-color: $custom;
}

@import "../bower_components/bootstrap-material-design/sass/_mixins.scss";

@mixin button-variant($color) {
	color: $darkbg-text !important;
    &:hover, &.active {
		@include button-variant($color);
	}
}

@import "../bower_components/bootstrap-material-design/sass/_shadows.scss";
@import "../bower_components/bootstrap-material-design/sass/_icons-material-design.scss";

body {
    background-color: #EEEEEE;
    &.inverse {
        background: #333333;
        &, .form-control {
            color: $darkbg-text;
        }
    }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Well and Jumbotrons
@import "../bower_components/bootstrap-material-design/sass/_welljumbo.scss";

// Checkboxes
@import "../bower_components/bootstrap-material-design/sass/_checkboxes.scss";

// Radios
@import "../bower_components/bootstrap-material-design/sass/_radios.scss";

// Text inputs
@import "../bower_components/bootstrap-material-design/sass/_inputs.scss";

legend {
    border-bottom: 0;
}

.modal-content {
    @extend .shadow-z-2;
    border-radius: 0;
    border: 0;
    .modal-header {
        border-bottom: 0;
    }
    .modal-footer {
        border-top: 0;
        .btn+.btn {
            margin-bottom: 10px;
        }
    }
}

// Lists
@import "../bower_components/bootstrap-material-design/sass/_lists.scss";

// Navbar
@import "../bower_components/bootstrap-material-design/sass/_navbar.scss";

.dropdown-menu {
	border: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	.divider {
		background-color: rgba(229, 229, 229, 0.12);
	}
	li {
		overflow: hidden;
		position: relative;
		a:hover {
			background-color: transparent;
			color: $primary;
		}
	}
}

// Alerts
@import "../bower_components/bootstrap-material-design/sass/_alerts.scss";

// Progress bar
@import "../bower_components/bootstrap-material-design/sass/_progress.scss";

// Panels
@import "../bower_components/bootstrap-material-design/sass/_cards.scss";

$card-custom: $teal-50;
$custom-text: $lightbg-text;
.card-material-custom {
    @include card-variant($card-custom, $custom-text, lighten($card-custom, 10%));
}

// Buttons
@import "../bower_components/bootstrap-material-design/sass/_buttons.scss";

.btn-custom {
    @include button-variant($custom);
}

// Typography
.text-warning {
    color: $btn-warning;
}
.text-primary {
    color: $btn-primary;
}
.text-danger {
    color: $btn-danger;
}
.text-success {
    color: $btn-success;
}
.text-info {
    color: $btn-info;
}

@import "../bower_components/bootstrap-material-design/sass/_tabs.scss";

@import "../bower_components/bootstrap-material-design/sass/_popups.scss";

@import "../bower_components/bootstrap-material-design/sass/_icons.scss";


// External plugins
@import "../bower_components/bootstrap-material-design/sass/_plugin-snackbarjs.scss";
@import "../bower_components/bootstrap-material-design/sass/_plugin-nouislider.scss";
