@import "../bower_components/bootstrap-material-design/less/material.less";

@primary: @red-300;
@info: @blue-grey-400;

a, a:hover, a:focus {
  color: @primary;
}

.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid @primary;
}

.thumbnail h3 a:hover, .service .service-icon{
    color: @primary;
}

a.thumbnail:hover{
	border-color: @primary;
}

.tag-box{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fafafa none repeat scroll 0 0;
    border-color: #eee #eee #eee @primary;
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 2px;

    margin-bottom: 30px;
    padding: 20px;
}