<dom-module id="add-page">
    <style>
        .inputs h2{
            padding: 14px 0;
            font-size: 16px;
            font-weight: 400;
        }

        .inputs {
            width: 100%;
            padding: 15px;
        }

        .inputs textarea{

        }
    </style>
    <template>
        <section>
            <div class="container">
                <div class="row center">
                    <h4>添加页面</h4>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Textarea</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn">Submit</a>
                                <a class="waves-effect waves-light btn grey">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </template>
    <script>
        Polymer({
            is: 'add-page',
            properties: {
                pageId: {
                    type: String,
                    value: ""
                }
            },
            ready: function(){
            }
        });
    </script>

</dom-module>