<link rel="import" href="../elements/imageslider.html">
<link rel="import" href="../elements/thumbnails.html">
<dom-module id="camera-page">
<style>
</style>
<template>
<section>
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="camera">
                    <div class="video-container">
						<iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <h4 class="title">生态农场</h4>
				<div class="row">
					<div class="col s12">
						<div class="card-panel teal">
							<span class="white-text">
								生态农场是运用生态学的观点和手段，以“农场”作为农业生态系统的一个整体，并把贯穿于整个系统中的各种生物群体，包括植物、动物、微生物之间，以及生物与非生物环境间的能量转化和物质循坏联系起来，对环境—生物系统进行科学合理的组合，以达到获得最大生物产量和维护生态平衡，改善土地利用环境特别是农业坏境质量为目的的一种农业发展新模式。生态农场既是生产的单位，又是环境净化和保护的单位。如中国广东珠江三角洲的桑基鱼塘、蔗基鱼塘、果基鱼塘等均为在长期的农业生产实践中所创造的一种生态农场的雏型。
							</span>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="title center">精选图片</h4>
            </div>
        </div>
        <div class="row">
            <thumbnail-list caption="false" count=4></thumbnail-list>
        </div>
        <div class="row">
            <div class="col s12 center">
                <a class="btn btn-primary hover-effect" href="/#/photos">查看更多图片</a>
            </div>
        </div>
    </div>
</section>
</template>
<script>
	Polymer({
		is: 'camera-page',
        attached: function(){
            $('.materialboxed').materialbox();
        }
	});
</script>
</dom-module>