<link rel="import" href="../elements/breadcrumb.html">
<link rel="import" href="../elements/imageslider.html">
<link rel="import" href="../elements/thumbnails.html">

<dom-module id="detail-page">
    <template>
		<iron-ajax id="get_data"
			auto
			handle-as="json"
			method="GET"
			on-response="handleResponse"
			on-error="handleErrorResponse"
			debounce-duration="300"></iron-ajax>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <h4>{{page.title}}</h4>
						<a class="waves-effect waves-light btn red lighten-2">预订</a>
                        <p class="left-align light">{{page.content}}</p>
                    </div>
                    <div class="col s12 m6">
                        <image-slider>
							<template is="dom-repeat" items="{{page.images}}">
								<img src="{{item.imgsrc}}" />
							</template>
						</image-slider>
                    </div>
                </div>

            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'detail-page',
            properties: {
                pageId: {
					type: String,
					value: ""
				}
            },
            showPageName: function(id){
                return (this.pages[id].name);
            },
            showPageDesc: function(id){
                return (this.pages[id].desc);
            },
			handleResponse: function(data){
				this.page = data.detail.response;
			},
			handleErrorResponse: function(err){
				document.querySelector('app-router').go('/404');
			},
			attached: function(){
				this.$.get_data.url = "http://private-ac876-wujiutan.apiary-mock.com/pages/" + this.pageId;
				this.$.get_data.generateRequest();
			},
            ready: function(){
            }
        });
    </script>

</dom-module>