<link rel="import" href="../elements/breadcrumb.html">
<link rel="import" href="../elements/imageslider.html">
<link rel="import" href="../elements/thumbnails.html">

<dom-module id="detail-page">
    <template>
		<iron-ajax id="get_data"
			auto
			handle-as="json"
			method="GET"
			on-response="handleResponse"
			on-error="handleErrorResponse"
			debounce-duration="300"></iron-ajax>

        <breadcrumb-element></breadcrumb-element>
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <h4>{{page.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
						<a class="waves-effect waves-light btn red lighten-2">预订</a>
                        <p class="left-align light">{{page.content}}</p>
                    </div>
                    <div class="col s12 m6">
                        <image-slider data="{{page.images}}"></image-slider>
                    </div>
                </div>

            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'detail-page',
            properties: {
                pageId: {
					type: String,
					value: ""
				},
                pathToId: {
                    type: Object,
                    value: {
                        wujiutan: "id1",
                        farm: "id2"
                    }
                }
            },
			handleResponse: function(data){
				this.page = data.detail.response;
                $('.slider').slider({height: 300});
			},
			handleErrorResponse: function(err){
				document.querySelector('app-router').go('/404');
			},
			attached: function(){
				this.$.get_data.url = "http://testbackend.elasticbeanstalk.com/v1/modules/" + this.pathToId[this.pageId];
                //this.$.get_data.url = "http://private-ac876-wujiutan.apiary-mock.com/pages/" + this.pageId;
				this.$.get_data.generateRequest();
			},
            ready: function(){
            }
        });
    </script>

</dom-module>