<link rel="import" href="../elements/breadcrumb.html">
<link rel="import" href="../elements/thumbnails.html">
<dom-module id="photos-page">
    <template>

        <breadcrumb-element></breadcrumb-element>

        <div class="container">
            <div class="row">
                <thumbnail-list caption="false" count=12></thumbnail-list>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'photos-page',
			attached: function(){
                $('.materialboxed').materialbox();
			}
        });
    </script>
</dom-module>