<dom-module id="breadcrumb-element">

    <style>
        .breadcrumb{
            overflow: hidden;
            margin: 0 0 10px 0;
        }
        .breadcrumb ul li{
            float: left;
        }
        .breadcrumb ul li:after{
            content: ' > ';
        }
        .breadcrumb ul li:last-child:after{
            content: '';
        }


    </style>
    <template>
        <div class="breadcrumb teal lighten-5">
            <div class="container">
                <ul class="right">
                    <template is="dom-repeat" items="{{path}}">
                        <li class$="{{item.style}}">
                        <a href="{{item.url}}">{{item.name}}</a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'breadcrumb-element',
            ready: function(){
                this.path = [
                    {
                        name: "首页",
                        url: "/#/home",
                        style: ""
                    },
                    {
                        name: "主要项目",
                        url: "",
                        style: ""
                    }
                ];
            }
        });
    </script>
</dom-module>

