<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="image-slider">
    <style>

    </style>
    <template>
        <div class="slider">
            <ul class="slides">
                <template is="dom-repeat" items="{{data}}">
                    <li>
                        <img src="{{item.imgsrc}}"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">{{item.desc}}</h5>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: 'image-slider',
            properties: {
                data: {
					type: Array,
					value: [
						{
							imgsrc: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img1.jpg",
							desc: "Camera 1 - Farm"
						}, {
							imgsrc: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img2.jpg",
							desc: "Camera 2 - The Campsite"
						}
					]
				}
            },
            ready: function(){
            }
        });
    </script>
</dom-module>

