<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="image-slider">
    <style>
        img{
            max-width: 100%;
        }
    </style>
    <template>
        <div class="slider">
            <ul class="slides">
                <template is="dom-repeat" items="{{data}}">
                    <li>
                        <img src="{{item.imageUrl}}"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">{{item.description}}</h5>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: 'image-slider',
            properties: {
                data: Array
            },
            ready: function(){
            },
            attached: function(){
                $('.slider').slider({height: 300});
            }
        });
    </script>
</dom-module>

