<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="thumbnail-list">
    <style>
        img {
            width: 100%;
            margin: 10px 0;
        }
    </style>
    <template>
        <template is="dom-repeat" items="{{list}}">
            <div class="col s6 col m3">
                <img class="materialboxed" src="{{item.imageUrl}}" alt="">
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'thumbnail-list',
            properties: {
                caption: {
                    type: String
                },
                count: {
                    type: Number,
                    value: 4
                }
            },
            attached: function(){
                $('.materialboxed').materialbox();
            },
            ready: function(){
                this.list = [
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img26.jpg",
                        title: "房车露营",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img25.jpg",
                        title: "烧烤野餐",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img24.jpg",
                        title: "摄影",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img23.jpg",
                        title: "登山徒步",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img16.jpg",
                        title: "房车露营",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img15.jpg",
                        title: "烧烤野餐",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img14.jpg",
                        title: "摄影",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img13.jpg",
                        title: "登山徒步",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img22.jpg",
                        title: "房车露营",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img21.jpg",
                        title: "烧烤野餐",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img20.jpg",
                        title: "摄影",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    },
                    {
                        imageUrl: "http://htmlstream.com/preview/unify-v1.8/assets/img/main/img19.jpg",
                        title: "登山徒步",
                        desc: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores",
                    }
                ];
            }
        });
    </script>
</dom-module>

